*{padding: 0; margin: 0;}
ul,li,dd,dl,ol{list-style: none;}
img{max-width: 100%; height: auto;}


#header .topborder{
    border: 3px solid greenyellow;

}
#header .topborder .topbar{
    width: 1008px;
    margin: 0 auto;
    overflow: hidden;
}
#header .topborder .topbar .topleft{
    float: left;
    padding: 11px 7px;
    font-size: 12px;
    color: #999999;
}
#header .topborder .topbar .topright{
    float: right;
}
#header .topborder .topbar .topright ul li{
    display: inline-block;
    border-left: 1px solid #777;
    margin-top: 11px;
}
#header .topborder .topbar .topright ul li a{
    display: block;
    padding: 0 7px;
    font-size: 12px;
    color: #999999;
    
    
}
#header .topright li:nth-child(1){
    border: none;
}


#header .midborder .midbar{
    width: 1008px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;

}
#header .midborder .midbar .logoleft{
    float: left;
}
#header .midborder .midbar fieldset{
    float: left;
    
    background-image: url('meloimg/melon_search.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 36px 0 0 11px;
    width: 330px;
    height: 40px;
    border: none;
    z-index: 2;
}
#header .midborder .midbar fieldset input{
    border: none;
    width: 260px;
    height: 25px;
    margin: 7px 0 0 18px;
    z-index: 8;
}
#header .midborder .midbar fieldset button{
    background-image: url('meloimg/melon_btn.png');
   
    float: right;
    height: 40px;
    width: 45px;
    margin: 0;
    border: none;
    cursor: pointer

    
}
#header .midborder .midbar .logoright{
    float: right;
}
#header .bottomborder{
    border-bottom: 1px solid #777;
}
#header .bottomborder .bottombar{
    width: 1008px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
#header .bottomborder .bottombar .normal{
    float: left;
    display:block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    width: 75px;
    height: 40px;
}
#header .bottomborder .bottombar .mymusic{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    width: 75px;
    height: 40px;
    font-weight: 700;

}
#section{
    margin-top: 50px;
}
#section .shipyard{
    margin: 0 auto;
    width: 1008px;

}
#section .shipyard .container{
    overflow: hidden;
}
#section .shipyard .container .list_warp{
    float: left;
    width: 480px;
}
#section .shipyard .container .slide_warp{
    float: left;
    width: 236px;
    height: 312px;
}
#section .shipyard .container .user_warp{
    float: left;
    width: 280px;
    box-sizing: border-box;
}
#section .shipyard .container .list_warp ul{
    overflow: hidden;

}
#section .shipyard .container .list_warp ul li{
    float: left;
    width: 33.3333%;
    position: relative;
    
}
#section .shipyard .container .list_warp ul li.first{
    padding-bottom: 4px;
}
#section .shipyard .container .list_warp ul li a{
    position: relative;
    display: block;
    width: 156px;
    height: 156px;
    
}
#section .shipyard .container .list_warp ul li a > span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  rgb(0, 0,0,0.7);
    color: white;
    text-align: center;
    height: 25px;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    
}
#section .shipyard .container .list_warp ul  li .hover_content{
    position: absolute;
    width: 156px;
    height: 156px;
    left: 0;
    top: 0;
    line-height: 156px;
    
    background-color: rgb(0, 0,0,0.9);
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#section .shipyard .container .list_warp ul li:hover > .hover_content{
    opacity: 1;
}
.hover_content a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
.slide_warp{
    margin-left: 8px;
}
.user_warp{
    margin-left: 4px;
}
.loginbox{
    border: 1px solid #999999;
    padding: 20px 15px;
    box-sizing: border-box;
    height: 115px;
}
.loginbox .toplogin{
    overflow: hidden;
    
} 
.loginbox .toplogin .loginleft{
    float: left;
    font-size: 13px;
    color: #999999;
}
.loginbox .toplogin .loginright{
    float: right;
    font-size: 13px;
    color: #999999;
}
.loginbox button{
    width: 100%;
    border: none;
    background-color: yellowgreen;
    color: whitesmoke;
    font-weight: 900;
    padding: 10px 5px;
    margin-top: 5px;
}
.prbox{
    margin-top: 12px;
}

.banner{
    margin: 0 auto;
    width: 1008px;
}
.banner img{
    width: 100%;
    height: 82px;
}
.bottombox{
    width: 1008px;
    margin: 0 auto;
    overflow: hidden;
    
}
.hotbox{
    float: left;
    width: 704px;

}
.hotbox h4{
    border-bottom: 1px solid #000;
    
}
.hotbox ul{
    overflow: hidden;
    width: 696px;
}
.hotbox ul li{
    width: 223px;
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 16px 0;
}
.hotbox ul li a{
    
    display: block;
    width: 100%;
    
}
.hotbox ul li a img{
    width: 100%;
}
.hotbox ul li .hotinfo{
    display: block;
    
}
.hotbox ul li .hotinfo .spantitle{
    display: block;
    font-size: 16px;
    font-weight: 900;
    
}
.hotbox ul li .hotinfo .spancont{
    display: block;
    font-size: 10px;
    color: rgb(7, 7,7,0.7);

}
.hotbox ul li .hotinfo .spanhit{
    display: inline-block;
    font-size: 10px;
    color: green;
}
.hotbox ul li .hotinfo .spannum{
    display: inline;
    font-size: 10px;
    color: rgb(7, 7,7,0.7);
}